iadatafactoryp5/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "iadatafactoryp5"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/df_title_file_to_synapse')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_title_master",
								"type": "DatasetReference"
							},
							"name": "srcTitleMaster"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_synapse_NYC_Payroll_TITLE_MD",
								"type": "DatasetReference"
							},
							"name": "sinkSynapseTitleMaster"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          TitleCode as string,",
						"          TitleDescription as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> srcTitleMaster",
						"srcTitleMaster sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          TitleCode as string,",
						"          TitleDescription as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     staged: true,",
						"     allowCopyCommand: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sinkSynapseTitleMaster"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_employee_master_to_synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow employee file to synapse",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_employee_file_to_synapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcEmployeeFile": {},
									"synapseEmpMaster": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "AzureDataLakeStorageSynapse",
									"type": "LinkedServiceReference"
								},
								"folderPath": "iafs/nycpayrollstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-08-30T15:31:18Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_load_2021_payroll_into_sqlDB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "df to transfer payroll file to SQL",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_payroll_file_to_SQL",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcPayrollData": {},
									"sinkSqlPayrollData": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-08-30T15:12:31Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_load_agency_master_to_synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow agency master to synapse",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_agency_file_to_synapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcAgencyMaster": {},
									"sinkSynapseAgencyMaster": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "AzureDataLakeStorageSynapse",
									"type": "LinkedServiceReference"
								},
								"folderPath": "iafs/nycpayrollstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-08-30T15:35:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_load_all_data_to_synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow agency file to synapse",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_agency_file_to_synapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcAgencyMaster": {},
									"sinkSynapseAgencyMaster": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "AzureDataLakeStorageSynapse",
									"type": "LinkedServiceReference"
								},
								"folderPath": "iafs/nycpayrollstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow employee file to synapse",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_employee_file_to_synapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcEmployeeFile": {},
									"synapseEmpMaster": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "AzureDataLakeStorageSynapse",
									"type": "LinkedServiceReference"
								},
								"folderPath": "iafs/nycpayrollstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow title to synapse",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_title_file_to_synapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcTitleMaster": {},
									"sinkSynapseTitleMaster": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "AzureDataLakeStorageSynapse",
									"type": "LinkedServiceReference"
								},
								"folderPath": "iafs/nycpayrollstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow payroll sql to synapse",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow agency file to synapse",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Data flow employee file to synapse",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Data flow title to synapse",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_payroll_sql_to_synapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcPayrollSql": {},
									"sinkPayrollSynapse": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "AzureDataLakeStorageSynapse",
									"type": "LinkedServiceReference"
								},
								"folderPath": "iafs/nycpayrollstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-08-30T15:57:33Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_title_file_to_synapse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_load_current_year_data_from_sql_to_synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow payroll from sql to synapse",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_payroll_sql_to_synapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcPayrollSql": {},
									"sinkPayrollSynapse": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "AzureDataLakeStorageSynapse",
									"type": "LinkedServiceReference"
								},
								"folderPath": "iafs/nycpayrollstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-08-30T15:50:00Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_load_title_master_to_synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow to load title master to synapse",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_title_file_to_synapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcTitleMaster": {},
									"sinkSynapseTitleMaster": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "AzureDataLakeStorageSynapse",
									"type": "LinkedServiceReference"
								},
								"folderPath": "iafs/nycpayrollstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-08-30T15:38:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_title_file_to_synapse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_payroll_summary')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow aggregate to generate payroll summary",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_data_aggregate",
								"type": "DataFlowReference",
								"parameters": {
									"fiscalYear": "2021"
								},
								"datasetParameters": {
									"srcPayroll2021": {},
									"srcPayroll2020": {},
									"sinkSynapseSummaryPayroll": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "AzureDataLakeStorageSynapse",
									"type": "LinkedServiceReference"
								},
								"folderPath": "iafs/nycpayrollstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"AgencyName": {
						"type": "string"
					},
					"FiscalYear": {
						"type": "int"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-08-30T18:18:36Z"
			},
			"dependsOn": []
		}
	]
}